<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Calculadora Eléctrica RD ♥ desarrollado por Electridom
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="#" target="_blank">Inicio</a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">Documentación</a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">Soporte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
